/crimesFinal.csv
/crimesFinal.json
/chicagocrime.db
/primaryType.csv
/reportfile.html
/chicagocrime.csv
/chicagocrime.csv.bak
/chicagocrime.db.bak
/chicagocrime_correcttimeformat.csv
/wORKING DATETIME QUERY
/ChicacoCrimeViewr.spec
/aifc.spec
/dist/
/build/
